<header id="header" class="header d-flex align-items-center fixed-top">
  <div class="container-fluid container-xl position-relative d-flex align-items-center">

    <a href="#hero" class="logo d-flex align-items-center me-auto">
      <h1 class="sitename">NE Plateforms</h1>
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="#hero" class="active">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#portfolio">Solutions</a></li>
        <li><a href="#team">Team</a></li>
        <li class="dropdown">
          <a href="#"><span>More</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
          <ul>
            <li><a href="#testimonials">Testimonials</a></li>
            <li><a href="#clients">Clients</a></li>
            <li><a href="#features">Features</a></li>
            <li><a href="#stats">Statistics</a></li>
          </ul>
        </li>
        <li><a href="#contact">Contact</a></li>
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>

    <a class="cta-btn" href="#about">Get Started</a>
  </div>
</header>